.list {
  margin-bottom: 30px;

  li {
    display: flex;
    align-items: center;
    padding: 10px 12px;
    cursor: pointer;

    &.active {
      background: #FFFFFF;
      border-radius: 4px;
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.04);
    }

    .icon {
      width: 15px;
      height: 15px;
      margin-right: 10px;
    }
  }

  &__remove-button {
    margin-left: auto;
  }
}
