@import 'src/variables';

.list {
  $self: &;

  margin-bottom: 30px;
  position: relative;

  li {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px 12px;
    margin-bottom: 5px;
    transition: background-color 0.15s ease-in-out;

    &:hover {
      background: rgba(255, 255, 255, 0.5);
      border-radius: 5px;
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.04);

      #{$self}__remove-button {
        color: $action-btn-color;

        &:hover {
          color: $action-btn-color--hover;
        }
      }
    }
    &.active {
      background: $white;
      border-radius: 5px;
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.04);
      transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    }

    .icon {
      width: 15px;
      height: 15px;
      margin-right: 10px;
      color: $sidebar-dark-icon-color;
    }
  }

  &__remove-button {
    margin-left: auto;
  }
}
