@import 'src/variables';

.tasks {
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    border-bottom: 1px solid $grey--light;
    margin-top: 30px;

    &:hover {
      .tasks__header__list-name-edit-button {
        color: #E3E7E7;

        &:hover {
          color: darken(#E3E7E7, 20%);
          cursor: pointer;
        }
      }
    }

    &__title {
      font-family: Montserrat, serif;
      font-weight: bold;
      font-size: 32pt;
      padding-bottom: 20px;

    }

    &__list-name-edit-button {
      align-self: flex-end;
      font-size: 16pt;
      margin-left: 15px;
      padding-bottom: 30px;
      color: #E3E7E7;
    }
  }

  a {
    text-decoration: none;
  }

  &__items {
    display: flex;
    flex-direction: column;
    margin-top: 30px;

    &-row {
      display: flex;
      align-items: center;
      margin-bottom: 15px;

      &:hover &-actions {
        opacity: 1;
      }

      &-actions {
        display: flex;
        opacity: 0;
        transition: opacity 0.15s ease-in-out;

        div {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 32px;
          height: 32px;
          background-color: $action-btn-background-color;
          border-radius: 6px;
          margin-left: 5px;
          cursor: pointer;

          &:hover {
            background-color: $action-btn-background-color--hover;

            .tasks__items-row-actions__edit-button,
            .tasks__items-row-actions__remove-button {
              color: $action-btn-color--hover;
            }
          }
        }

        &__edit-button, &__remove-button {
          max-width: 13px;
          color: $action-btn-color;
        }
      }

      &__complete-button {
        width: 12px;
        height: 12px;
        color: $white;
      }

      p {
        margin-left: 15px;
        width: 100%;
      }
    }

    .no-tasks {
      align-self: center;
      margin: 20vh 0;
      font-family: Montserrat, serif;
      font-size: 32pt;
      font-weight: bold;
      color: $sidebar-light-text-color;
      cursor: default;
    }
  }

  .checkbox {
    input {
      display: none;
    }

    label {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid $grey--light;
      border-radius: 30px;
      width: 20px;
      height: 20px;
      cursor: pointer;
      transition: background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out;

    }

    input:checked + label {
      background-color: $checkbox-background-color--checked;
      border-color: $checkbox-border-color--checked;
    }

    &:hover {
      label {
        background-color: $checkbox-background-color--hover;
        border-color: $checkbox-border-color--hover;
      }
    }
  }

  &__form {
    margin-top: 20px;

    &-block {
      .button {
        margin-right: 10px;
        margin-top: 15px;
      }
    }

    &-new {
      display: flex;
      align-items: center;
      cursor: pointer;
      color: $btn-add-list-color;
      margin-left: 5px;
      transition: opacity 0.15s ease-in-out;

      &:hover {
        color: $btn-add-list-color--hover;

        .icon {
          color: $btn-add-list-color--hover;
        }
      }

      .icon {
        width: 15px;
        height: 15px;
        margin-right: 10px;
        color: $sidebar-dark-icon-color;
      }

      span {
        margin-left: 20px;
        align-self: center;
      }
    }
  }
}
