@import 'src/variables';

.add-list {
  &__button {
    color: $btn-add-list-color;

    &:hover {
      color: $btn-add-list-color--hover;

      .icon {
        color: $btn-add-list-color--hover;
      }
    }
  }

  &__popup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    height: 150px;
    padding: 20px;
    background: $popup-background-color;
    border-radius: 10px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    position: absolute;
    bottom: 30px;

    &__close-button {
      min-width: 25px;
      height: 25px;
      position: absolute;
      right: -12px;
      top: -12px;
      cursor: pointer;
      color: $action-btn-color;

      &:hover{
        color: $action-btn-color--hover;
      }
    }

    &__colors {
      display: flex;
      justify-content: space-between;

      .badge {
        min-width: 25px;
        min-height: 25px;
        margin: 0;
        border: 3px solid $white;

        &:hover {
          border: 3px solid transparent;
        }
      }

      .active {
        border: 3px solid transparent;
      }
    }

    &__button {
      width: 100%;
    }
  }
}
