.add-list {
  &__button {
    color: #7C7C7C;

    &:hover {
      color: #000000;

      .icon {
        color: #000000;
      }
    }
  }

  &__popup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    height: 150px;
    padding: 20px;
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    position: absolute;
    bottom: 30px;

    .button {
      width: 100%;
    }

    &__colors {
      display: flex;
      justify-content: space-between;

      .badge {
        min-width: 25px;
        min-height: 25px;
        margin: 0;
        border: 3px solid #FFFFFF;

        &:hover {
          border: 3px solid transparent;
        }
      }

      .active {
        border: 3px solid transparent;
      }
    }

    &__close-button {
      width: 25px !important;
      height: 25px;
      position: absolute;
      right: -12px;
      top: -12px;
      cursor: pointer;
    }
  }
}
