@import 'variables';

* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  font-family: 'Roboto', -apple-system, system-ui, sans-serif;
  font-size: 12pt;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.todo {
  display: flex;
  width: calc(100vw - 30px);
  height: calc(100vh - 100px);
  border: 1px solid #F4F6F8;
  border-radius: 30px;
  box-shadow: 1px 2px 20px #F3F3F3;
  position: relative;

  &__sidebar {
    width: 25%;
    padding: 40px 25px 30px;
    background-color: $sidebar-text-background-color;
    color: $sidebar-main-text-color;
    border-radius: 30px 0 0 30px;
    overflow-y: scroll;
    overflow-x: hidden;

    .loading{
      display: flex;
      margin: 10px 15px 30px;
      color: $sidebar-dark-icon-color;
      .icon{
        align-self: center;
      }
      p{
        margin-left: 10px;
        color: $sidebar-dark-text-color;
      }
    }

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $scrollbar-thumb-background-color;
      border-radius: 50px;
    }
  }

  &__tasks {
    width: 75%;
    padding: 0 30px 30px;
    overflow-y: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar { width: 5px;}

    &::-webkit-scrollbar-thumb { background-color: $scrollbar-thumb-background-color; border-radius: 50px;}
  }
}

.button {
  background-color: $btn-success-background-color;
  border-radius: 4px;
  color: #FFFFFF;
  border: 0;
  padding: 10px 20px;
  cursor: pointer;

  &:hover {
    background: $btn-success-background-color--hover;
  }

  &:active {
    background: $btn-success-background-color--active;
  }

  &--grey {
    background-color: $btn-cancel-background-color;
    color: $btn-cancel-color;

    &:hover {
      background: $btn-cancel-background-color--hover;
    }

    &:active {
      background: $btn-cancel-background-color--active;
    }
  }
}

.field {
  background-color: $input-background-color;
  border: 1px solid $input-border-color;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px 12px;
  width: 100%;

  &:focus {
    border-color: $input-border-color--focus;
  }
}
